/*?Common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*?Container */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/*?Main-section */
.main-section {
  position: relative;
  min-height: 800px;
  padding-top: 16px;
  background-color: #f0f0f0;
  overflow: hidden;
}
.main-section__nav-container {
  display: flex;
  flex-direction: rows;
  justify-content: space-between;
  align-items: center;
  height: 69px;
}
.main-section__logo {
  width: 134px;
}
.main-section__content-container {
  position: relative;
  display: flex;
  flex-direction: row;
}
.main-section__first-circle {
  position: absolute;
  top: 129px;
  right: 80px;
}
.main-section__second-circle {
  position: absolute;
  top: 650px;
  right: -120px;
}

.nav-menu__list {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 64px;
       column-gap: 64px;
}
.nav-menu__list-item {
  font-size: 18px;
  line-height: 22px;
  list-style: none;
}

.left-wrapper {
  position: relative;
}
.left-wrapper__img {
  position: relative;
  z-index: 5;
}
.left-wrapper__rectangle-blue {
  position: absolute;
  z-index: 2;
  top: 150px;
  left: -50px;
  width: 565.95px;
  height: 220px;
  background-color: #5290ea;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-64deg);
}
.left-wrapper__rectangle-orange {
  position: absolute;
  z-index: 3;
  top: 160px;
  left: -30px;
  width: 618.43px;
  height: 220px;
  background-color: #f28b64;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-50.81deg);
}
.left-wrapper__rectangle-grey {
  position: absolute;
  top: 190px;
  left: 10px;
  width: 608.97px;
  height: 220px;
  background-color: #e2e2e2;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-36.15deg);
}

.right-wrapper {
  position: absolute;
  z-index: 6;
  top: 150px;
  right: 76px;
  width: 372px;
}
.right-wrapper__icons-box {
  margin-bottom: 1px;
  padding-left: 10px;
}
.right-wrapper__title {
  margin-bottom: 5px;
}
.right-wrapper__text {
  margin-bottom: 20px;
  font-size: 16px;
}

.icons {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 17px;
       column-gap: 17px;
}
.icons__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #5290ea;
  border-radius: 100px;
}
.icons__skype, .icons__vk, .icons__tg, .icons__inst {
  font-size: 21px;
  color: #000000;
}

.title {
  font-size: 72px;
  line-height: 68px;
  color: #000000;
}
.title_position {
  position: relative;
}
.title__hr {
  width: 65px;
  height: 0px;
  border: none;
  border-top: 1px solid #000000;
}
.title__hr_top {
  position: absolute;
  bottom: 68px;
}

.buttons {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.buttons__main-btn {
  width: 200px;
  height: 60px;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  background: #f28b64;
  border: none;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.buttons__icon-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  height: 46px;
  padding-top: 3px;
}
.buttons__icon-img {
  width: 46px;
  height: 46px;
}
.buttons__text {
  font-size: 16px;
  line-height: 17px;
  color: #000000;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 194px;
  height: 194px;
  border-radius: 50%;
  background: linear-gradient(143.92deg, rgba(237, 123, 80, 0.5) 14.85%, rgba(72, 138, 234, 0.5) 53.25%, rgba(44, 44, 44, 0.5) 85.74%);
}
.circle__subtract {
  width: 129.33px;
  height: 129.33px;
  border-radius: 50%;
  background: #f0f0f0;
}
.circle__subtract_big {
  width: 188px;
  height: 188px;
}
.circle_big {
  width: 282px;
  height: 282px;
  rotate: 45deg;
}
.circle_rotate {
  rotate: -48.2deg;
}

/*?Second-section */
.second-section {
  min-height: 700px;
}
.second-section__content-container {
  position: relative;
  padding-top: 32px;
}
.second-section__title {
  margin-bottom: 40px;
}
.second-section__cards-container {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-bottom: 25px;
}
.second-section__icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.second-section__first-circle {
  position: absolute;
  top: 80px;
  right: -60px;
  z-index: -1;
}
.second-section__second-circle {
  position: absolute;
  top: 364px;
  left: -60px;
  z-index: -1;
}

.cards-item {
  display: flex;
  align-items: flex-end;
  width: 360px;
  height: 360px;
  background-color: #e2e2e2;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.cards-item__img {
  height: 335px;
}
.cards-item__orange {
  background-color: #f28b64;
}
.cards-item__blue {
  background-color: #5290ea;
}
.cards-item__text {
  align-self: center;
  width: 280px;
  font-size: 36px;
  text-align: center;
  transform: rotate(90deg);
}

.icons-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.icons-item__img {
  height: 80px;
  width: 80px;
}
.icons-item__text {
  font-size: 18px;
  color: #000000;
}
.icons-item__number {
  font-size: 48px;
}

/*?Third-section */
.third-section {
  position: relative;
  z-index: 0;
  min-height: 640px;
  background-color: #f0f0f0;
  overflow: hidden;
}
.third-section__container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 167px;
  padding-top: 46px;
}
.third-section__right-wrapper {
  max-width: 480px;
}
.third-section__right-title {
  margin-bottom: 20px;
}
.third-section__text {
  margin-bottom: 30px;
  font-size: 18px;
}
.third-section__first-circle {
  position: absolute;
  z-index: -1;
  top: 140px;
  left: 110px;
}
.third-section__figure {
  position: absolute;
  z-index: -1;
  top: 249px;
  left: 15px;
}
.third-section__second-circle {
  position: absolute;
  top: -121px;
  right: -92px;
}/*# sourceMappingURL=style.css.map */